<html>
	<% include partials/template/head.ejs %>
	<body>
		<% include partials/template/header.ejs %>
		<div class="container">
			<br>
			<div class="row">
				<div class="col-md-8 col-sm-8" role="main">
					<h2 style="color:orange;margin-top: 0;">Welcome to the Flood Atlas</h2>
					<p>Simply stated, a flood web atlas is a means of organizing, presenting, and sharing spatial data for all things flood related.  A Flood Atlas could be defined as a collection of digital maps and datasets with supplementary tables, illustrations and information that systematically illustrate flood related content, oftentimes with cartographic and decision-support tools, all of which are accessible via the Internet (adapted from Wright 2010<sup>1</sup>).</p>
					<p>A Flood Atlas can provide a common point for the access and exchange of flood related spatial data instead of having to search inefficiently through a wide-range of similar but often unrelated websites or data portals.  The basic characteristic of any content within the Flood Atlas will be its geographic quality.  Spatial data, analytical tools, web-map applications, publications and other resources intended for Flood Atlas will all have a connection to “place” based on the central theme of flood waters.</p>
					<p>Flood waters can be defined as any issue or impact related to flooding, which includes floodplain management, flood risk management, flood risk communication, natural and beneficial functions of floodplains and flood waters, and the social and economic costs and benefits of floodplains and/or flooding.</p>
					<br>
					<p><sup>1</sup> Wright, D.J., Dwyer, E., and Cummins, V. (eds.), 2010.<br />
					Coastal Informatics: Web Atlas Design and Implementation<br />
<em><a href="http://ican.science.oregonstate.edu/handbook" target="_blank">http://ican.science.oregonstate.edu/handbook</a></em></p>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="affix-top sidenav" role="complementary">
						<ul class="nav">
							<li>
								<p>Please email Jeff@floods.org with any questions, concerns or recommendations.</p>
								<a href="https://mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;to=Jeff@floods.org&amp;tf=1"><i class="fa fa-paper-plane"></i>
									Jeff Stone&mdash;ASFPM Science Services
								</a>
							</li>
							<hr>
							<li>
								<a href="http://www.floods.org/">Association of State Floodplain Managers</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<% include partials/template/footer.ejs %>
		<% include partials/template/jsdefaults.ejs %>
	</body>
</html>
