<html>
	<% include partials/template/head.ejs %>
	<body>
		<% include partials/template/header.ejs %>
		<div class="container">
			<br>
			<div class="row">
				<div class="col-md-8 col-sm-8" role="main">
		<h3>Shoreline Data and Photo Points as zipped shapefiles:</h3>
<div class="ezcol ezcol-one-half">
<strong>1976 &amp; 1978</strong></p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/Shapefiles_WGS84/wi_1976_backshore.zip" title="1976-1978 Backshore Classification" target="_blank">1976-1978 Backshore Classification</a> [<1 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/Shapefiles_WGS84/wi_1976_beachclass.zip" title="1976-1978 Beach Classification" target="_blank">1976-1978 Beach Classification</a> [<1 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/Shapefiles_WGS84/wi_1976_structure.zip" title="1976-1978 Shore Structures" target="_blank">1976-1978 Shore Structures</a> [<1 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/Shapefiles_WGS84/wi_LM_LS_1976_78_photos.zip" title="1976-1978 Photo Location Points" target="_blank">1976-1978 Photo Location Points</a> [<1 MB .zip]<br />
</div>
<div class="ezcol ezcol-one-half ezcol-last">
<strong>2007 &amp; 2008</strong></p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/Shapefiles_WGS84/wi_2007_backshore.zip" title="2007-2008 Backshore Classification" target="_blank">2007-2008 Backshore Classification</a> [<1 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/Shapefiles_WGS84/wi_2007_beachclass.zip" title="2007-2008 Beach Classification" target="_blank">2007-2008 Beach Classification</a> [<1 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/Shapefiles_WGS84/wi_2007_structure.zip" title="2007-2008 Shore Structures" target="_blank">2007-2008 Shore Structures</a> [<1 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/Shapefiles_WGS84/wi_LM_LS_2007_08_photos.zip" title="2007-2008 Photo Location Points" target="_blank">2007-2008 Photo Location Points</a> [<1 MB .zip]<br />
</div><div class="ezcol-divider"></div>
<p> &nbsp; </p>
<h3>Photos by Year/County <small>(Warning: Some .zip archives are large downloads)</small>:</h3>
<div class="ezcol ezcol-one-half">
<strong>1976</strong></p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1976_LS_55007_BayfieldCnty.zip" title="Bayfield" target="_blank">Bayfield County</a> [0.98 <strong>GB </strong>.zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1976_LM_55029_DoorCnty.zip" title="Door" target="_blank">Door County</a> [37.7 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1976_LS_55031_DouglasCnty.zip" title="Douglas" target="_blank">Douglas County</a> [412 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1976_LM_55059_KenoshaCnty.zip" title="Kenosha" target="_blank">Kenosha County</a> [35.8 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1976_LM_55061_KewauneeCnty.zip" title="Kewaunee" target="_blank">Kewaunee County</a> [224 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1976_LM_55071_ManitowocCnty.zip" title="Manitowoc" target="_blank">Manitowoc County</a> [381 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1976_LM_55079_MilwaukeeCnty.zip" title="Milwaukee" target="_blank">Milwaukee County</a> [241 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1976_LM_55089_OzaukeeCnty.zip" title="Ozaukee" target="_blank">Ozaukee County</a> [223 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1976_LM_55101_RacineCnty.zip" title="Racine" target="_blank">Racine County</a> [39.1 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1976_LM_55117_SheboyganCnty.zip" title="Sheboygan" target="_blank">Sheboygan County</a> [360 MB .zip]</p>
<p><strong>1978</strong></p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1978_LS_55003_AshlandCnty.zip" title="Ashland" target="_blank">Ashland County</a> [182 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1978_LS_55003_AshlandCnty.zip" title="Bayfield" target="_blank">Bayfield County</a> [13.3 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_1978_LS_55051_IronCnty.zip" title="Iron" target="_blank">Iron County</a> [13.6 MB .zip]<br />
</div>
<div class="ezcol ezcol-one-half ezcol-last">
<strong>2007</strong></p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2007_LS_55003_AshlandCnty.zip" title="Ashland" target="_blank">Ashland County</a> [2.96 <strong>GB </strong>.zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2007_LS_55007_BayfieldCnty.zip" title="Bayfield" target="_blank">Bayfield County</a> [4.09 <strong>GB </strong>.zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2007_LM_55029_DoorCnty.zip" title="Door" target="_blank">Door County</a> [195 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2007_LS_55031_DouglasCnty.zip" title="Douglas" target="_blank">Douglas County</a> [1.24 <strong>GB </strong>.zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2007_LS_55051_IronCnty.zip" title="Iron" target="_blank">Iron County</a> [243 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2007_LM_55059_KenoshaCnty.zip" title="Kenosha" target="_blank">Kenosha County</a> [413 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2007_LM_55061_KewauneeCnty.zip" title="Kewaunee" target="_blank">Kewaunee County</a> [407 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2007_LM_55071_ManitowocCnty.zip" title="Manitowoc" target="_blank">Manitowoc County</a> [785 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2007_LM_55079_MilwaukeeCnty.zip" title="Milwaukee" target="_blank">Milwaukee County</a> [887 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2007_LM_55089_OzaukeeCnty.zip" title="Ozaukee" target="_blank">Ozaukee County</a> [644 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2007_LM_55101_RacineCnty.zip" title="Racine" target="_blank">Racine County</a> [409 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2007_LM_55117_SheboyganCnty.zip" title="Sheboygan" target="_blank">Sheboygan County</a> [570 MB .zip]</p>
<p><strong>2008</strong></p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2008_LM_55009_BrownCnty.zip" title="Brown" target="_blank">Brown County</a> [1.17 <strong>GB </strong>.zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2008_LM_55029_DoorCnty.zip" title="Door" target="_blank">Door County</a> [6.12 <strong>GB </strong>.zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2008_LM_55061_KewauneeCnty.zip" title="Kewaunee" target="_blank">Kewaunee County</a> [70.1 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2008_LM_55075_MarinetteCnty.zip" title="Marinette" target="_blank">Marinette County</a> [592 MB .zip]</p>
<p><a class='download' href="http://floodatlas.org/wcmp/obliqueviewer/data_download/photos_2008_LM_55083_OcontoCnty.zip" title="Oconto" target="_blank">Oconto County</a> [751 MB .zip]<br />
</div><div class="ezcol-divider"></div>
</div>
		</div>


		<% include partials/template/footer.ejs %>
		<% include partials/template/jsdefaults.ejs %>
	</body>
</html>
