<header >
	<div class="container"id="header-map" style="height:150px; padding: 0px; width:100%;"></div>
	<nav>
		<div class="container">
			<ul class="nav nav-pills pull-right">
				<li>
					<a href="/redesign/" class="<%-(url=='/') ? 'current' : '' %>">
						Tools
					</a>
				</li>
				<li>
					<a href="/redesign/about" class="<%-(url=='/about') ? 'current' : '' %>">
						About
					</a>
				</li>
			</ul>
			<h4 class="pull-left nav-text">
				<a href="/redesign/"><span class="site-title">FloodAtlas.org</span></a>
			</h4>
		</div>
		<!-- /.container -->
	</nav>

	<!-- /.container -->
</header>
<br>
