<p>Ozaukee County, Wisconsin is one of many coastal counties whose shorelines largely consist of bluffs. Though not always visible to the untrained eye, bluff slopes are constantly changing. Years and even decades can pass without any noticeable loss, but despite their perceived stability, large bluff failure events can occur suddenly and without warning. Slumping and failure can occur at any time when the bluff is unstable. Researchers at the University of Wisconsin Madison have been tracking bluff erosion in Ozaukee County since 1956. The Ozaukee County Bluff Viewer leverages this data to allow users to visualize bluff retreat overtime.</p>
<br>
<h4>Features:</h4>
<ul>
	<li>Visualize how decades of bluff retreat has impacted the landscape in Ozaukee County through animated maps</li>
	<li>Explore historic photos of the Ozaukee County’s shoreline</li>
	<li>Measure the distance the bluff top has moved landward overtime using the ruler tool</li>
</ul>
<br>
<h4>Produced By:</h4>
<ul>	
	<li><a href="http://www.floods.org">Association of State Floodplain Managers (ASFPM)</a></li>
</ul>