					<p>Residents of Duluth, Minnesota, experienced a major flooding event in June 2012 that caused over $100 million in damages in the northeastern part of the state. Such severe events are infrequent—before 2012, Duluth’s last major flood was in 1978—but the impacts have been significant. Duluth’s flooding issues are likely to increase with urban development pressures and increasing storm frequency influenced by climate change.</p>

					<p>In 2012, the National Oceanic and Atmospheric Administration, the Association of State Floodplain Managers, the Eastern Research Group, and the United States Army Corps of Engineers partnered together to address the question of the effect of green infrastructure on flood losses. With funding from the Great Lakes Restoration Initiative, the project partners embarked on a watershed-level economic analysis of the cost and benefits of green infrastructure as a method of reducing the negative effects of flooding. Over the course of the next two years, project partners worked with Minnesota Sea Grant to select a study area, aggregate data, identify feasible green infrastructure alternatives, and discern how the study results could be used to encourage change in the future.</p>

					<p>In 2014, the project team published its final report. If green infrastructure was implemented to reduce the peak discharge in Chester Creek by 20 percent (which corresponds to 76 acre-feet of flood storage under current conditions and 86 acre-feet of storage under future conditions), Hazus shows economic losses from flooding associated with a 100-year storm would decrease by 27 percent under current precipitation conditions and 16 percent under future precipitation conditions. The damage reduction is a lesser percentage under future conditions because development and precipitation are anticipated to increase in the future in Duluth.  This study based its benefit cost analysis solely on the estimated physical damage to buildings and did not take into account damage to infrastructure, natural resources, business disruption, and other losses. As a result, the real benefits of green infrastructure are likely underrepresented by the results of this report.</p>

					<p>The Duluth Flood Hazard Visualizer was developed to communicate the results of this study. With this tool, users are able to visualize the impacts of climate change and green infrastructure on the property level. By taking these data out of abstraction and placing them on the landscape level, users are effectively able to relate a change in infrastructure with a reduction in damage in their neighborhood. In addition to the various climate scenarios, users are also able to explore these effects are impacted by different magnitudes of flooding.</p>
<br>
<h4>Features:</h4>
<ul>
	<li>Compare flood damages across different climate scenarios</li>
	<li>Evaluate how green infrastructure impacts flood losses now and in the future</li>
	<li>Share visualizations with others who are interested in learning more via exportable PDFs and links</li>
	<li>Access the study data through our data portal</li>
</ul>
<br>
<h4>Produced By:</h4>
<ul>	
	<li><a href="http://www.floods.org">Association of State Floodplain Managers (ASFPM)</a></li>
</ul>