<p>Duluth about texts.</p>
<br>
<h4>Features:</h4>
<ul>
	<li>Compare flood damages across different climate scenarios</li>
	<li>Evaluate how green infrastructure impacts flood losses now and in the future</li>
	<li>Share visualizations with others who are interested in learning more via exportable PDFs and links</li>
	<li>Access the study data through our data portal</li>
</ul>
<br>
<h4>Produced By:</h4>
<ul>	
	<li><a href="http://www.floods.org">Association of State Floodplain Managers (ASFPM)</a></li>
</ul>