<p>Often times, the worst flood ever experienced by a community is in the very distant past. When the high water marks have faded and one generation gives ways to the next, images are all that remain to document the event. The Flood Photo Viewer is an image archive that provides access to the flood history and institutional memory for communities and states. This tool allows users to upload, tag, geo-locate, and share photos so that other communities, researchers, and future generations can visualize flood events that have impacted their community.</p>
<br>

<h4>Features:</h4>
<ul>	
	<li>Relive historic flood events in your community using a map-based interface</li>
	<li>Archive your current and historic flood photos with the rest of the world by uploading them to the digital library</li>
	<li>Share and use the photos you find within in community meetings, presentations, and publications</li>
</ul>
<br>
<h4>Produced By:</h4>
<ul>	
	<li><a href="http://www.floods.org">Association of State Floodplain Managers (ASFPM)</a></li>
	<li><a href="http://wi.water.usgs.gov">United States Geological Survey (USGS)</a></li>
</ul>