<p>Municipal practioners are seeking-out science-based solutions to the impacts of climate change and natural hazards, and asking how neighboring communities are becoming more resilient. The Great Lakes Coastal Resilience Planning Guide (GLCRPG), formulated through 3 years of grassroots and interagency collaboration, echoes this community-demanded approach to resilience building. This online guide is a hub for planners and practioners, who are encouraged to share proven-solutions, tools, maps and data, publications, best practices, and lessons learned. The GLCRPG facilitates this knowledge exchange through community-authored case studies, which provide explicit guidance on everything from what tools to use to best practices for implementation.</p>
<br>
<h4>Features:</h4>
<ul>
	<li>Learn what’s happening in Great Lakes communities from our Local Stories. Information ranges from news articles to outreach materials</li>
	<li>Discover specific solutions and tested strategies communities are applying to land use and zoning concerns, habitat and environmental protection issues, and infrastructure planning needs through community-authored Case Studies</li>
	<li>Access geospatial data, tools, applications, and web map services available in the region</li>
	<li>Connect with people and organizations working to address coastal hazard and climate change impacts in the region</li>
	<li>Identify events and funding sources related to coastal resilience and hazards</li>
	<li>Uncover relevant publications in the GLCRPG Library including: legal and regulatory documents, best practices, ordinances, comprehensive plans, and more</li>
</ul>
<br>
<h4>Produced By:</h4>
<ul>	
	<li><a href="http://www.floods.org">Association of State Floodplain Managers (ASFPM)</a></li>
	<li><a href="http://coast.noaa.gov/?redirect=301ocm">National Oceanic and Atmospheric Administration Office for Coastal Management (NOAA OCM)</a></li>
</ul>