<p>For decades the City of Toledo, Ohio has been adversely impacted by persistent annual flooding. Widespread damages to homes, business, and public infrastructure coupled with local economic decline has driven city officials to begin searching for alternative ways to mitigate flooding. In 2012, the City of Toledo, NOAA, ASFPM, ERG, and USACE partnered together to evaluate is green infrastructure would be a cost-effective solution. The Toledo Flood Hazard Visualizer was developed to communicate the results of this study. With this tool, users are able to visualize how climate change and green infrastructure could impact flood damages on the property level.</p>
<br>
<h4>Features:</h4>
<ul>
	<li>Compare flood damages across different climate scenarios</li>
	<li>Evaluate how green infrastructure impacts flood losses now and in the future</li>
	<li>Share visualizations with others who are interested in learning more via exportable PDFs and links</li>
	<li>Access the study data through our data portal</li>
</ul>
<br>
<h4>Produced By:</h4>
<ul>	
	<li><a href="http://www.floods.org">Association of State Floodplain Managers (ASFPM)</a></li>
</ul>